%a.emoticon{ :href => "##{e.shortcut}",
  :onclick => %{ prompt("Copy this:", #{e.shortcut.to_json}); return false;} }

  %img{ :alt => e.shortcut,
    :title => e.shortcut,
    :src => e.url,
    :style => "width:#{e.width}px; height:#{e.height}px" }

  .shortcut= h e.shortcut
