!!!
%html
  %head
    %meta(charset="utf-8")
    %title HipChat emoticons
    /[if lt IE 9]
      %script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    %link(href="/stylesheets/screen.css" rel="stylesheet" type="text/css")
    %link(rel="shortcut icon" href="/favicon.png")
    %script(src="/javascripts/jquery.min.js")
    %script(src="/javascripts/application.js")

  %body

    %header
      %h1 HipChat emoticons
      %p
        A complete list of
        <strong>#{@emoticons.length}</strong>
        <a href="http://www.hipchat.com/r/2zt39">HipChat</a> emoticons.
        Click to copy.

    %p
      - case params[:order]
      - when EmoticonFile::BY_RECENT
        <a href="/">alphabetical</a> / <strong>by recently added or updated</strong>
      - else
        <strong>alphabetical</strong> / <a href="/?order=recent">by recently added or updated</a>

    %form
      :javascript
        var shortcuts = #{@all_emoticons.map(&:shortcut)};

      %input.filter(type="search" placeholder="Filter…" autofocus)

    .emoticons
      - @emoticons.each do |e|
        = partial :emoticon, :e => e

    %h2 Emoticons emeriti

    %p These emoticons were removed by HipChat, but you can <a href="https://hipchat.com/admin/emoticons">upload them as custom emoticons</a>.

    .emoticons
      - @emeriti.each do |e|
        = partial :emoticon, :e => e

    %footer
      %p
        Last updated #{@updated_at.strftime("%b %e, %Y")}.
      %p
        By <a href="http://henrik.nyh.se">Henrik Nyh</a>.
      %p
        <a href="https://github.com/henrik/hipchat-emoticons">View source on GitHub</a>.
